## Selecting Data

### Querying a Database

#### Using COUNT()
The `COUNT()` function returns the number of records with a value in a specified field.  
For example, to count the number of birthdates in the `people` table:

```sql
SELECT COUNT(birthdate) AS count_birthdates FROM people;
```

This query returns 6,152 birthdates.

#### COUNT() Multiple Fields
To count multiple fields, we use `COUNT()` separately for each:

```sql
SELECT COUNT(name) AS count_names, COUNT(birthdate) AS count_birthdates FROM people;
```

#### Using * with COUNT()
To count all records in a table, use `COUNT(*)`:

```sql
SELECT COUNT(*) AS total_records FROM people;
```

The `*` represents all fields and provides the total number of rows.

#### DISTINCT
The `DISTINCT` keyword filters unique values from a field.

For example, to find all unique languages in the `films` table:

```sql
SELECT DISTINCT(language) FROM films;
```

#### COUNT() with DISTINCT
To count unique values in a field, combine COUNT() with DISTINCT:

```sql
SELECT COUNT(DISTINCT birthdate) AS unique_birthdates FROM people;
```

This count differs from `COUNT(birthdate)` because it only includes unique birthdates, **excluding duplicates**.

### Query Execution

#### SQL Processing Order  
SQL queries are **not executed in the order they are written**.  
Think of it like grabbing a coat from a closet:
1. **FROM** – Identify the source table.
2. **SELECT** – Choose which data to retrieve.
3. **LIMIT** – Refine the results by restricting the number of records.

For example, to retrieve the first 10 names from the `people` table:

```sql
SELECT name FROM people LIMIT 10;
```

Understanding this order is crucial for debugging and using aliases correctly.

#### Debugging SQL
**Common SQL Errors**
* **Misspelled Field Names**
    SQL often provides helpful error messages, pinpointing missing or incorrect fields.

* **Comma Errors**
    Missing commas can cause vague error messages.
    Example of a mistake:

  ```sql
  SELECT title country duration FROM films;
  ```
  The missing comma between **title** and **country** causes an error.

  Corrected version:
  ```sql
  SELECT title, country, duration FROM films;
  ```

* **Keyword Errors**
Misspelling SQL keywords (e.g., **SELET** instead of **SELECT**) triggers immediate errors.

### SQL Style

SQL is flexible with formatting—capitalization, indentation, and new lines are not required. However, properly formatting queries makes them easier to read and maintain, especially as they grow in complexity.  

#### Best Practices  

SQL users follow industry-accepted formatting standards. A well-structured query improves readability by:  
- Capitalizing SQL keywords (**SELECT, FROM, WHERE**)  
- Placing each clause on a new line  

Example of a properly formatted query:  

```sql
SELECT title, release_year, country  
FROM films  
WHERE release_year > 2000;
```

#### Style Guides
While some formatting conventions are standard (capitalization, line breaks), others vary by preference.
For example, some developers prefer each selected field on a new line:

```sql
SELECT  
    title,  
    release_year,  
    country  
FROM films;
```

To maintain consistency, follow a SQL style guide like Holywell’s, which defines best practices for indentation, capitalization, and naming conventions.

#### Semicolon Usage
A semicolon (`;`) is not required in PostgreSQL but is considered best practice because:

1. Some SQL flavors require it.
2. It helps when migrating queries between different SQL systems.
3. It clearly marks the end of a query, especially in multi-query scripts.

Example:
```sql
SELECT title FROM films WHERE release_year > 2000;
```

#### Dealing with Non-Standard Field Names
Sometimes, field names contain spaces, which is a SQL mistake. To query such fields, use double quotes:

```sql
SELECT "release year" FROM films;
```

Avoid spaces in field names by using underscores instead:

```sql
CREATE TABLE films (release_year INT);
```

#### Why Do We Format?
Proper SQL formatting enhances:

* **Collaboration** – Easier for teams to read and debug queries.
* **Professionalism** – Clean, structured code is valued in the industry.
* **Maintainability** – Well-formatted queries are easier to update and troubleshoot.

## Filtering Records

## Aggregate Functions

## Sorting and Grouping