## Selecting Data

### Querying a Database

#### Using COUNT()
The `COUNT()` function returns the number of records with a value in a specified field.  
For example, to count the number of birthdates in the `people` table:

```sql
SELECT COUNT(birthdate) AS count_birthdates FROM people;
```

This query returns 6,152 birthdates.

#### COUNT() Multiple Fields
To count multiple fields, we use `COUNT()` separately for each:

```sql
SELECT COUNT(name) AS count_names, COUNT(birthdate) AS count_birthdates FROM people;
```

#### Using * with COUNT()
To count all records in a table, use `COUNT(*)`:

```sql
SELECT COUNT(*) AS total_records FROM people;
```

The `*` represents all fields and provides the total number of rows.

#### DISTINCT
The `DISTINCT` keyword filters unique values from a field.

For example, to find all unique languages in the `films` table:

```sql
SELECT DISTINCT(language) FROM films;
```

#### COUNT() with DISTINCT
To count unique values in a field, combine COUNT() with DISTINCT:

```sql
SELECT COUNT(DISTINCT birthdate) AS unique_birthdates FROM people;
```

This count differs from `COUNT(birthdate)` because it only includes unique birthdates, **excluding duplicates**.

### Query Execution

#### SQL Processing Order  
SQL queries are **not executed in the order they are written**.  
Think of it like grabbing a coat from a closet:
1. **FROM** – Identify the source table.
2. **SELECT** – Choose which data to retrieve.
3. **LIMIT** – Refine the results by restricting the number of records.

For example, to retrieve the first 10 names from the `people` table:

```sql
SELECT name FROM people LIMIT 10;
```

Understanding this order is crucial for debugging and using aliases correctly.

#### Debugging SQL
**Common SQL Errors**
* **Misspelled Field Names**
    SQL often provides helpful error messages, pinpointing missing or incorrect fields.

* **Comma Errors**
    Missing commas can cause vague error messages.
    Example of a mistake:

  ```sql
  SELECT title country duration FROM films;
  ```
  The missing comma between **title** and **country** causes an error.

  Corrected version:
  ```sql
  SELECT title, country, duration FROM films;
  ```

* **Keyword Errors**
Misspelling SQL keywords (e.g., **SELET** instead of **SELECT**) triggers immediate errors.

### SQL Style

SQL is flexible with formatting—capitalization, indentation, and new lines are not required. However, properly formatting queries makes them easier to read and maintain, especially as they grow in complexity.  

#### Best Practices  

SQL users follow industry-accepted formatting standards. A well-structured query improves readability by:  
- Capitalizing SQL keywords (**SELECT, FROM, WHERE**)  
- Placing each clause on a new line  

Example of a properly formatted query:  

```sql
SELECT title, release_year, country  
FROM films  
WHERE release_year > 2000;
```

#### Style Guides
While some formatting conventions are standard (capitalization, line breaks), others vary by preference.
For example, some developers prefer each selected field on a new line:

```sql
SELECT  
    title,  
    release_year,  
    country  
FROM films;
```

To maintain consistency, follow a SQL style guide like Holywell’s, which defines best practices for indentation, capitalization, and naming conventions.

#### Semicolon Usage
A semicolon (`;`) is not required in PostgreSQL but is considered best practice because:

1. Some SQL flavors require it.
2. It helps when migrating queries between different SQL systems.
3. It clearly marks the end of a query, especially in multi-query scripts.

Example:
```sql
SELECT title FROM films WHERE release_year > 2000;
```

#### Dealing with Non-Standard Field Names
Sometimes, field names contain spaces, which is a SQL mistake. To query such fields, use double quotes:

```sql
SELECT "release year" FROM films;
```

Avoid spaces in field names by using underscores instead:

```sql
CREATE TABLE films (release_year INT);
```

#### Why Do We Format?
Proper SQL formatting enhances:

* **Collaboration** – Easier for teams to read and debug queries.
* **Professionalism** – Clean, structured code is valued in the industry.
* **Maintainability** – Well-formatted queries are easier to update and troubleshoot.

## Filtering Records

### Filtering Numbers  

The **WHERE** clause allows us to filter data based on specific conditions, ensuring we retrieve only relevant information.

#### WHERE with Comparison Operators  

To filter numerical values, we use **comparison operators**:  

- **Greater than (`>`)** – Filters values **above** a threshold.  
  ```sql
  SELECT title FROM films WHERE release_year > 1960;
  ```
- **Less than (`<`)** – Filters values below a threshold.
  ```sql
  SELECT title FROM films WHERE release_year < 1960;
  ```
- **Less than or equal to (`<=`)** – Includes values up to a certain threshold.
  ```sql
  SELECT title FROM films WHERE release_year <= 1960;
  ```
- **Equal to (`=`)** – Filters for an exact match.
  ```sql
  SELECT title FROM films WHERE release_year = 1960;
  ```
- **Not equal to (`!=`)** – Excludes a specific value.
  ```sql
  SELECT title FROM films WHERE release_year != 1960;
  ```
  (This filters out films released in 1960.)


#### WHERE with Strings
The WHERE clause can also filter text-based fields. When filtering by string values, enclose them in single quotes (`' '`):
```sql
SELECT title FROM films WHERE country = 'Japan';
```

#### Order of Execution

Although SQL queries are written in a specific order, they are executed differently:

- Written Order: `SELECT → FROM → WHERE → LIMIT`
- Execution Order: `FROM → WHERE → SELECT → LIMIT`

Example: If retrieving five green coats, we first open the closet (FROM), then filter by color (WHERE), select the coats (SELECT), and finally limit the selection to five (LIMIT).

```sql
SELECT title FROM films  
FROM movies  
WHERE genre = 'Comedy'  
LIMIT 5;
```

### Multiple Criteria

Enhancing Filters  

When filtering data, we often need to apply **multiple criteria**. SQL provides three powerful keywords to refine our queries: **OR, AND, and BETWEEN**.  

#### OR Operator  

The **OR** operator allows filtering by **at least one** of multiple conditions.  

- Example: Selecting films released in **1994 OR 2000**:  
  ```sql
  SELECT title FROM films  
  WHERE release_year = 1994 OR release_year = 2000;
  ```

Important: Each OR condition must specify the field name.

#### AND Operator

The AND operator ensures all conditions must be met.

- Example: Filtering films released between 1994 and 2000:
  ```sql
  SELECT title FROM films  
  WHERE release_year >= 1994 AND release_year <= 2000;
  ```

#### Combining AND and OR
For complex queries, we can combine AND and OR, but must use parentheses to ensure proper execution order.

- Example: Films released in 1994 OR 1995, AND certified PG or R:
  ```sql
  SELECT title FROM films  
  WHERE (release_year = 1994 OR release_year = 1995)  
  AND (certification = 'PG' OR certification = 'R');
  ```

#### BETWEEN Operator
To check for ranges, SQL provides the BETWEEN keyword, which is inclusive (includes both boundary values).

- Example: Films released between 1994 and 2000:
  ```sql
  SELECT title FROM films  
  WHERE release_year BETWEEN 1994 AND 2000;
  ```
  (Equivalent to using >= and <= separately.)

#### Using BETWEEN with AND and OR
The BETWEEN clause can be combined with AND and OR for even more powerful filtering.

- Example: Films released between 1994 and 2000 from the United Kingdom:
  ```sql
  SELECT title FROM films  
  WHERE release_year BETWEEN 1994 AND 2000  
  AND country = 'United Kingdom';
  ```

By mastering OR, AND, and BETWEEN, we can create more precise and efficient queries to extract meaningful insights from our data.

### Filtering Text


When filtering text data, we often need more flexibility than just specifying exact matches. SQL provides powerful **pattern-matching operators** to refine our text-based searches.  

#### LIKE Operator  

The **LIKE** operator allows searching for patterns in text fields using **wildcards**:  
- `%` (percent) matches **zero, one, or multiple** characters.  
- `_` (underscore) matches **exactly one** character.  

**Example:** Finding names that start with "Ad":  
```sql
SELECT name FROM people  
WHERE name LIKE 'Ad%';
```

Matches: Adel, Adelaide, Aden

Example: Finding three-letter names:
```sql
SELECT name FROM people  
WHERE name LIKE 'E_e';
```
Matches: Eve, Eze but not Eva Mendes.

#### NOT LIKE Operator
The NOT LIKE operator finds records that do not match a pattern.

Example: Excluding names that start with "A.":
```sql
SELECT name FROM people  
WHERE name NOT LIKE 'A._%';
```
Note: LIKE and NOT LIKE are case-sensitive, so queries must account for letter casing.

#### Wildcard Positioning
Wildcards can be placed anywhere in the pattern and even combined.

Example:

- Names ending in "r":
  ```sql
  WHERE name LIKE '%r';
  ```
- Names where the third character is "t":
  ```sql
  WHERE name LIKE '__t%';
  ```

#### Using WHERE with OR
When filtering based on multiple specific values, using multiple OR conditions can become inefficient.

Example:
```sql
SELECT title FROM films  
WHERE release_year = 1920  
OR release_year = 1930  
OR release_year = 1940;
```

#### IN Operator
The IN operator simplifies multiple OR conditions by allowing a list of values.

Example:
```sql
SELECT title FROM films  
WHERE release_year IN (1920, 1930, 1940);
```
Equivalent to the previous OR query but cleaner and faster.

#### Using IN with Text Fields
The IN operator also works for text-based conditions.

Example: Selecting films from Germany or France:
```sql
SELECT title FROM films  
WHERE country IN ('Germany', 'France');
```

By leveraging LIKE, NOT LIKE, IN, and OR, we can create precise and flexible SQL queries for filtering text-based data effectively!

### Null Values

In SQL, **NULL** represents a **missing or unknown value**. This is crucial because real-world databases often contain empty fields due to **human error, unavailable information, or unknown data**. Handling NULL values correctly is essential for accurate data analysis.  

#### Understanding NULL  

For example, when analyzing **posthumous success** using a "deathdate" field, we might assume that all people in the dataset have a recorded death date. However, if **half the values are NULL**, this could lead to incorrect conclusions.  


#### IS NULL: Identifying Missing Data  

To check for missing values in a dataset, we can use the **IS NULL** operator with the **WHERE** clause.  

**Example:** Finding people without a recorded birthdate:  
```sql
SELECT name FROM people  
WHERE birthdate IS NULL;
```

#### IS NOT NULL: Filtering Out Missing Data
If we want to exclude missing values and only return rows with existing data, we use IS NOT NULL.

Example: Counting people with a recorded birthdate:
```sql
SELECT COUNT(*) FROM people  
WHERE birthdate IS NOT NULL;
```
This ensures our analysis only considers non-missing values.

#### COUNT() vs. IS NOT NULL
There is no difference between:
```sql
SELECT COUNT(birthdate) FROM people;
```
and
```sql
SELECT COUNT(*) FROM people  
WHERE birthdate IS NOT NULL;
```
Both queries count only non-missing values in the "birthdate" field.


#### Summary: NULL in SQL
- NULL = missing or unknown value
- Use IS NULL to identify missing values
- Use IS NOT NULL to filter out missing values
- COUNT(field) and COUNT(*) with IS NOT NULL give the same results

Since NULL values are common, learning to handle them effectively will become second nature in SQL!

## Aggregate Functions

## Sorting and Grouping